<%= form_with url: signin_path, local: true do |f| %>

    <div class="form-group">
        <label>メールアドレス</label>
        <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <label>パスワード</label>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="loginBtn">
        <%= f.submit "ログイン", class: "btn btn-primary"%>
    </div>
    
    <div><%= link_to "パスワードを忘れてしまった方はこちら", "#" %></div>
    <div><%= link_to "新規会員登録はこちら", signup_path %></div>

<% end %>