<h1>幼稚園情報</h1>

<table>
    <tr>
        <th>名称</th>
        <th>電話番号</th>
        <th>住所</th>
        <th>給食の有無</th>
        <th>プレの有無</th>
        <th>フリーメモ</th>
    </tr>

    <% @myfacilities.each do |my_facility| %>

    <tr>
        <td><%= my_facility.name %></td>
        <td><%= my_facility.tel %></td>
        <td><%= my_facility.address %></td>
        <td><%= my_facility.lunch %></td>
        <td><%= my_facility.pre %></td>
        <td><%= my_facility.memo %></td>
    </tr>

    <% end %>
    
</table>