<h1>幼稚園情報詳細</h1>
<table>
    <tr>
        <th>名称</th>
        <td><%= my_facility.name %></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= my_facility.tel %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= my_facility.address %></td>
    </tr>   
    <tr>
        <th>給食の有無</th>
        <td><%= my_facility.lunch %></td>
    </tr>
    <tr>
        <th>プレの有無</th>
        <td><%= my_facility.pre %></td>
    </tr>    
    <tr>    
        <th>フリーメモ</th>
        <td><%= my_facility.memo %></td>
    </tr>
</table>