<h2>予定一覧</h2>
<div class="plans">
    <% @schedules.each do |schedule| %>
        <div>
            <%= schedule.year %>年 <%= schedule.month %>月 <%= schedule.day %>日 <%= schedule.place %>
            <%= link_to "編集", edit_schedule_path(schedule), class: "btn scheduleButtons" %>
            <%= link_to "削除", schedule_path(schedule), method: "delete", data: { confirm: '本当に削除しますか？' }, class: "btn scheduleButtons" %>
        </div>
    <% end %>
</div>

<div class="rightBtn">
    <%= link_to "＋予定の追加", new_schedule_path, class: "btn btn-primary" %>
</div>

<div class="card">
    <div class="card-body">
        <%= form_with method: "get", url: facilities_path, local: true do |f| %>
            <div class="form-row">
                <div class="col col1">
                    <%= f.text_field "name", placeholder: "幼稚園情報の検索", class: "formcontrol" %>
                </div>    
                <div class="col">
                    <%= f.submit "検索", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="buttons">
    <div class="pinkBtn leftbtn">
        <%= link_to "自分の記録一覧", my_facilities_path, class: "" %>
    </div>
    <div class="pinkBtn">
        <%= link_to "＋新しい情報を登録", new_my_facility_path, class: "" %>
    </div>
</div>
      