<h1>スケジュール</h1>
<%= link_to "+新規", new_schedule_path, class: "btn btn-success" %>
<table class="table table-striped">
    <tr>
        <th>年</th>
        <th>月</th>
        <th>日</th>
        <th>場所</th>
        <th></th>
    </tr>
 
 <% @schedules.each do |schedule| %>
 
     <tr>
         <td><%= schedule.year %>年</td>
         <td><%= schedule.month %>月</td>
         <td><%= schedule.day %>日</td>
         <td><%= schedule.place %></td>
         <td>
             <%= link_to "詳細", schedule_path(schedule), class: "btn btn-info" %>
             <%= link_to "編集", edit_schedule_path(schedule), class: "btn btn-warning" %>
             <%= link_to "削除", schedule_path(schedule), method: "delete", data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
         </td>
     </tr>
     
 <% end %>
 
</table>