<h1>幼稚園情報詳細</h1>

<table class="table table-borderless facilityDetail">
    <tr>
        <th>名称</th>
        <td><%= @facility.name %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @facility.address %></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @facility.tel %></td>
    </tr>
    <tr>
        <th>給食の有無</th>
        <td><%= @facility.lunch %></td>
    </tr>
    <tr>
        <th>プレ幼稚園の有無</th>
        <td><%= @facility.pre %></td>
    </tr>
    <tr>
        <th>フリーメモ</th>
        <td><%= @facility.memo %></td>
    </tr>
</table>

<%= link_to "戻る", facilities_path, class: "btn btn-primary" %>
